{% extends 'base.html' %}

{% block title %}
Event Helper
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/socket_example.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <h1>Сайт с табличкой для ивентов</h1>
</div>

{% endblock %}